[Unit]
Description=Terraria Master Server Manager
After=network.target

[Service]
Type=forking
User=lab
WorkingDirectory=/home/lab/fanyunfu/terraria
ExecStart=/home/lab/fanyunfu/terraria/start_all_worlds.sh
ExecStop=/home/lab/fanyunfu/terraria/stop_all_worlds.sh
ExecReload=/home/lab/fanyunfu/terraria/reload_all_worlds.sh
Restart=no
Environment=TERM=xterm
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
